* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

.m-container {
    width: 100%;
    height: 100vh;
    background-image:url(img/lower-curve-texture.png), url(img/lower-curve.png), linear-gradient(to left, rgba(52, 64, 84, 0.7) 35%, transparent), url(img/smart-object.png), linear-gradient(to left , #344054 54%, transparent), url(img/model.png) ;
    background-size:70% 30%, 70% 30%, cover, cover, cover, 45% 100%;
    background-repeat:no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:right bottom, right bottom, right, center, center, left top;
}

.container {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    padding: 50px 90px 60px 60px;
    display: flex;
}

.container .left {
    height: 100%;
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hamburger {
    display: none;
}

.container .left img {
    width: 40px;
    cursor: pointer;
}

.container .left .social-icons {
    color: #c2a080;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.container .left .social-icons .fab {
    border: 1px solid #c2a080;
    padding: 7px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: background 1s ease;
}

.container .left .social-icons .fab:hover {
    background: #c2a080;
    color: white;
}

.container .left .social-icons .slash {
    font-size: 15px;
}

.container .right {
    flex: 60%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container .right .navbar {
    display: flex;
    color: #c2a080;
    width: 100%;
}

.container .right .navbar img {
    width: 85px;
    height: 85px;
    margin-right: 50px;
}

.container .right .navbar nav {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.container .right .navbar .search-bar {
    position: relative;
    margin-right: 40px;
}

.container .right .navbar .search-bar .fas {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 2%;
    color: #344154;
}

.container .right .navbar nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.container .right .navbar nav ul li a {
    color: #c2a080;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
}


.container .right .navbar input {
    background: #c2a080;
    border: none;
    outline: none;
    padding: 5px 5px 5px 20px;
    border-radius: 30px;
    width: 150px;
}

.container .right .navbar input::placeholder {
    text-align: right;
    padding-right: 30px;
    font-weight: 900;
    color: #344154;
}



.content-1 {
    text-align: right;
    color: #c2a080;
}

.content-1 h1 {
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    font-weight: 500;
}

.content-1 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.content-2 {
    width: 100%;
    position: relative;
    color: #c2a080;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.content-2 .left-s {
    position: relative;
    background-color: #293344;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    text-transform: uppercase;
    padding: 20px;

}





.content-2 .left-s .centerTxt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 30px;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
}

.content-2 .left-s .centerTxt .off {
    font-size: 23px;
    text-align: center;
}

/* .content-2 .left-s > span {
    position: absolute;
    transform-origin: top left;
    
    
} */

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.content-2 .right-s {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
    align-items: flex-end;
    
}

.content-2 .right-s .btn {
    background: #c2a080;
    border: none;
    outline: none;
    padding: 5px 5px 5px 20px;
    border-radius: 30px;
    width: 150px;
    text-transform: capitalize;
    font-weight: 900;
    color: #344154;
    cursor: pointer;
}

.content-2 .right-s .inside-c {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 400;
}

.content-2 .right-s .inside-c p:nth-child(even) {
    font-weight: 900;  
}

.content-2 .right-s .inside-c p:nth-child(1) {
    text-transform: capitalize;
}

.content-2 .right-s .inside-c p:nth-child(3) {
    text-transform: uppercase;
}

.content-3 {
    color: #c2a080;
    font-family:'Roboto Condensed', sans-serif;
    justify-self: flex-end;
    
}

.content-3 p:nth-child(1) {
    font-size: 22px;
    text-transform: capitalize;
}

.content-3 h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.content-3 p:last-child {
    font-size: 13px;
}


@media screen and (max-width: 786px) {
    .hamburger {
        display: block;
    }

    .container .right .navbar {
        display: none;
    }

    .container {
        padding: 20px 30px 30px 20px;
        flex-direction: column;
    }

    .container .left {
        flex: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .container .left img {
        width:  25px;
        height: 25px;
    }

    .container .right {
        flex: 100%;
    }

}

@media screen and (max-width: 500px) {

    .container .left {
        align-items: flex-start;
        justify-content: space-between;
    }


    .content-1 h1 {
        font-size: 45px;
    }

    .content-1 p {
        font-size: 15px;
    }

    .content-2 .left-s {
        width: 100px;
        height: 100px;
    }

    #text {
        font-size: 10px;
    }

    .content-2 .left-s .centerTxt {
        font-size: 22px;
    }

    .content-2 .left-s .centerTxt .off {
        font-size: 20px;
    }

    .content-3 p:nth-child(1) {
        font-size: 16px;
    }

    .content-3 h1 {
        font-size: 25px;
    }

    .content-3 p:last-child {
        font-size: 10px;
    }
}



.hamburger-menu {
    width: 100%;
    height: 100vh;
    background: white;
    color: #111;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.hamburger-menu .menu-close {
    display: flex;
    padding: 20px 40px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.hamburger-menu .menu-close .close {
    font-size: 40px;
    cursor: pointer;
}

.hamburger-menu .menu-close .logo {
    width: 80px;
    cursor: pointer;
}

.hamburger-menu  .navbar {
    margin-top: 10%;
    width: 70%;
    margin: 20% auto;

}



.hamburger-menu  .navbar nav {
    display: flex;
    flex-direction: column;
}

.hamburger-menu  .navbar nav .search-bar {
    max-width: 200px;
    align-self: center;
    position: relative;
}

.hamburger-menu  .navbar nav .search-bar .fas {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 2%;
    color: #344154;
}

.hamburger-menu  .navbar nav input {
    background: #c2a080;
    border: none;
    outline: none;
    padding: 5px 5px 5px 20px;
    border-radius: 30px;
    width: 100%;
}

.hamburger-menu  .navbar nav input::placeholder {
    text-align: right;
    padding-right: 30px;
    font-weight: 900;
    color: #344154;
}

.hamburger-menu  .navbar nav ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu  .navbar nav ul li a {
    text-decoration: none;
    width: 100px;
    color: #111;
    text-align: center;
    display: block;
    
    padding: 10px;
}


.show-side-menu {
    transform: translateX(0);
}
